<h1><%= band.name %></h1>

<%= band.genre %><br>
Based out of <%= band.location %>
<%= band.phone band.email %><br>
Contact <%= band.poc %> for Bookings<br>
<%= band.link %><br>
<%= band.details %><br>